@charset "utf-8";
/* CSS Document */

body {
color:black;
}

#nav {
float:left;
width:25%;
height:100%;
background-color:#333;
}

#abt_me, #store_head {
text-align:center;
width:100%;
}

#abt_me_content {
z-index:1000;
float:right;
display:block;
width:100%;
margin-bottom:3px;
}

#product {
	width:30px;
	height:30px;
}

#caption {
color:white;
font-size:12px;
text-align:center;
}