@charset "utf-8";
/* CSS Document */

body {
	background-color:black;
}

#nav {
float:left;
width:25%;
height:100%;
background-color:#333;
}

#abt_me, #store_head {
text-align:center;
width:100%;
}

#abt_me_content {
z-index:1000;
display:block;
margin-bottom:3px;
}

#product {
	width:35%;
	height:20%;
}

#checkout {
	float:right;
}

#caption {
color:white;
font-size:12px;
text-align:center;
}